extends layout

block content
  .aboutpage
    .section-info
      .logo 
        h1 breeze
      .contact-section
        .contact-wrap
          h3 CONTACT   
          .form-input.title TITLE 
            input.title(type='text') 
          .form-input.author AUTHOR 
            input.author(type='text')
          .form-input.author CONTENT 
            textarea(rows="8" cols="50")
          .form-input
            a(href='#') SUBMIT
    .contents
      .aboutimage-1
        .info-1
          h3 FOOD STYLIST
          p Contrary to popular belief, Lorem Ipsum is not 
            | simply random text. It has roots in a piece of 
            | classical Latin literature from 45 BC, making it 
            | over 2000 years old. Richard McClintock, 
            | a Latin professor at Hampden-Sydney College 
      .aboutimage-2
         .info-2

  link(rel='stylesheet', href='css/about.css')