extends layout

block content
  .aboutpage
    .section-info
      .logo 
        h1 breeze
      .contact-section
        .contact-wrap
          h3 CONTACT   
          .form-input.title TITLE 
            input.title(type='text') 
          .form-input.author AUTHOR 
            input.author(type='text')
          .form-input.author CONTENT 
            textarea(rows="8" cols="45")
          .form-input
            a(href='#') SUBMIT
      .copyright
          p Copyright©2020 BREEZE All right reserve
    .contents
      .contents-padding
        .aboutimage-1
          .info-1
            h3 FOOD STYLIST
            p Contrary to popular belief, Lorem Ipsum is not 
              | simply random text. It has roots in a piece of 
              | classical Latin literature from 45 BC, making it 
              | over 2000 years old. Richard McClintock, 
              | a Latin professor at Hampden-Sydney College 
        .aboutimage-2
          img(src='../images/about/about-3.jpg')
          .info-2
            h3 FOOD STYLIST
            p Contrary to popular belief, Lorem Ipsum is not 
              | simply random text. It has roots in a piece of 
              | classical Latin literature from 45 BC, making it 
              | over 2000 years old. Richard McClintock, 
              | a Latin professor at Hampden-Sydney College 
        .video-container
          .video.left
            iframe(allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/faYXLkLy9go")
          .video.right
            iframe(allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/xwvjezWrVKA")
          .video.left
            iframe( allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/TeHTlibljVE")
          .video.right
            iframe( allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/iXxQujmYLus")
            
  link(rel='stylesheet', href='css/about.css')