extends layout

block content
  .content.aboutpage
    .section-info
      .logo 
        h1 breeze
      .contact-section
        .contact-wrap
          h3 CONTACT   
          .form-input.title TITLE 
            input.title(type='text') 
          .form-input.author AUTHOR 
            input.author(type='text')
          .form-input.author CONTENT 
            textarea(rows="4" cols="50")
          .form-input
            a(href='#') SUBMIT
  .sadfasdfasdf
    p sadfasdf
