extends layout

block content
  .aboutpage
    .page-margin
      .page-grid
        .griditem.navbarcontainer
          .navbar
            a(href='#').breeze BREEZE 
            a(href='#').works WORKS
            a(href='#').seasons SEASONS
        .griditem.logo
          .logo-wrap
            h1 breeze
        .griditem.contact
          .contact-wrap
            h3 CONTACT   
            .form-input.title TITLE 
              input.title(type='text') 
            .form-input.author AUTHOR 
              input.author(type='text')
            .form-input.author CONTENT 
              textarea(rows="9" cols="100")
            .form-input.submit
              a(href='#') SUBMIT
            .copyright
              p Copyright©2020 BREEZE All right reserve
        .griditem.inform-1
          .image
            img(src='../images/about/about-1.jpg')
          .info-1
            h3 FOOD STYLIST
            p Contrary to popular belief, Lorem Ipsum is not 
              | simply random text. It has roots in a piece of 
              | classical Latin literature from 45 BC, making it 
              | over 2000 years old. Richard McClintock, 
              | a Latin professor at Hampden-Sydney College 
        .griditem.inform-2
          .image
            img(src='../images/about/about-2.jpg')
          .info-2
            h3 FOOD STYLIST
            p Contrary to popular belief, Lorem Ipsum is not 
              | simply random text. It has roots in a piece of 
              | classical Latin literature from 45 BC, making it 
              | over 2000 years old. Richard McClintock, 
              | a Latin professor at Hampden-Sydney College 
        .griditem.videocontainer
          .video
            iframe(allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/faYXLkLy9go")
          .video
            iframe(allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/xwvjezWrVKA")
          .video
            iframe(allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/TeHTlibljVE")
          .video
            iframe(allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/yO4-YdBhsPU")
  
  link(rel='stylesheet', href='css/about.css')