extends layout

block content
  .workspage
    .section-info
      .logo 
        h1 breeze
      .annualworks
        .items 
          a(href='#') 2020
        .items
          a(href='#') 2019
   

          
      .copyright
        p Copyright©2020 BREEZE All right reserve
    .contents 
      .contents-padding
        .gallery-grid 
          .gallery-item.item-1
          .gallery-item.item-2
          .gallery-item.item-3
          .gallery-item.item-4
          .gallery-item.item-5
          .gallery-item.item-6
          .gallery-item.item-7
          
      


  link(rel='stylesheet', href='css/works.css')