.aboutpage .section-info{
  background: mediumspringgreen; 
  margin: 0;
  padding: 0;
  width: 29.16%;
  height: 100vh;
  float: left;
}

.aboutpage .logo{
  width: 400px;
  height: 400px;
  line-height: 400px;
  text-align: center;
  margin-top: 100px;
  margin-left: 160px;
  float: right;
  border: #e6e6e6 solid 1px;
  border-radius: 100%;
}

.aboutpage h1{
  vertical-align: middle;

  font-family: 'Volkhov';
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 3.58px;
  color: #000000;
}

.aboutpage .contact-section{
  /* background: yellow; */
  
  float: right;
  width: 400px;
}

.aboutpage .contact-section .contact-wrap{
  padding: 23.5px;
}

.aboutpage .contact-section .contact-wrap h3{
  font-family: 'Volkhov';
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;

  margin-bottom: 39.9px;
}

.aboutpage .contact-section .contact-wrap .form-input{
  border-bottom: #e6e6e6 solid 1px;
  padding-bottom: 3px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.79px;
  text-align: left;
  color: #808080;
}

.aboutpage .contact-section .contact-wrap .form-input:last-child{
  border-bottom: none;
} 

.aboutpage .contact-section .contact-wrap textarea,
.aboutpage .contact-section .contact-wrap input,
.aboutpage .contact-section .contact-wrap a {
  border: none;
}

/* contents */

.aboutpage .contents{
  background: mediumturquoise;
  float: left;
  margin-top: 500px;
  width: 62.5%;
  height: 100%; 
}

.aboutpage .contents .contents-padding{
  padding: 20px;
}

.aboutpage .contents .contents-padding .aboutimage-1{
  width: 66.66%;
  height: 544px;
  background-image: url(../images/about/about-1.jpg);
  background-repeat:no-repeat;
  background-position: center left;
  margin-bottom: 25px;
}

.aboutpage .contents .contents-padding .info-1{
  width: 345.3px;
  height: 135px;
  position: absolute;
  right: 22%;
  top: 700px;
}
.aboutpage .contents .contents-padding .info-1 h3,
.aboutpage .contents .contents-padding .info-2 h3{
  font-family: Volkhov;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

.aboutpage .contents .contents-padding .info-1 p,
.aboutpage .contents .contents-padding .info-2 p{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

.aboutpage .contents .contents-padding .aboutimage-2{ 
  width: 100%;
  height: 529px;
  overflow: hidden;
  margin-bottom: 200px;
}

.aboutpage .contents .contents-padding .aboutimage-2 img{ 
  float: right;
  width: 782px;
}

.aboutpage .contents .contents-padding .info-2{
  float: left;
  width: 345.3px;
  position : relative;
  top: 200px;
}
.aboutpage .contents .contents-padding .video-container{
  width: 100%;
  height: 100vh;
}

.aboutpage .contents .contents-padding .video-container .video{
  float: left;
  position: relative;
  width: 50%; 
  height: 35%;
  margin-bottom: 20px;
}

.aboutpage .contents .contents-padding .video-container .video iframe{

  width: 98%; 
  height: 100%;
}







