
/* page gird layout */

.page-grid .inform-1{
	grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 6;
	grid-row-end: 12;
	
	position: relative;
}

.page-grid .inform-2{
	grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 12;
	grid-row-end: 18;
	
	position: relative;
}

.page-grid .videocontainer{
	grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 18;
	grid-row-end: 28;
	
	position: relative;
}

/* contact */

.leftpannel .contact-wrap{
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.leftpannel .contact-wrap .title,
.leftpannel .contact-wrap .author{
	margin-bottom: 5px;
	border-bottom: #e6e6e6 solid 1px;
}

.leftpannel .contact-wrap input{
	border: none !important;
	width: 70%;
}

.leftpannel .contact-wrap textarea{
	border: none !important;
	width: 100%;
}

.leftpannel .contact-wrap .submit{
	margin-top: 3%;
}

.leftpannel .contact-wrap .copyright{
	margin-top: 55%;
}

.leftpannel .contact-wrap h3{
	margin-bottom: 23px;

	font-family: 'Volkhov';
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

.leftpannel .contact-wrap .form-input,
.leftpannel .contact-wrap .copyright{
	font-family: Roboto;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.79px;
  text-align: left;
  color: #808080;
}

/* infom - 1 */

.inform-1 .image img{
	width: 66.7%;
  height: auto;
}

.inform-1 .info-1{
	position: absolute;
	top: 40%;
	width: 25%;
	right: 15%;
}

/* inform-2 */

.inform-2 .image img{
	position: absolute;
	right: 0;
	top: -5%;
	width: 66.7%;
  height: auto;
}

.inform-2 .info-2{
	position: absolute;
	top: 30%;
	width: 25%;
	left: 0;
}
.inform-1 .info-1 h3,.inform-2 .info-2 h3{
	font-family: Volkhov;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

.inform-1 .info-1 p,.inform-2 .info-2 p{
  font-family: Roboto;
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

/* videocontainer */

.videocontainer .video{
	width: 50%;
	display: inline-block;
	text-align: center;
	margin-bottom: 2%;

}

.videocontainer .video iframe{
	width: 95%;
	height: 290px;
}