@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i&display=swap');

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

/* reset defaults */
h1,h2,h3,h4,h5,h6{margin: 0px;}
ul{margin: 0px;}
p{margin: 0px;}
a{text-decoration: none; color: inherit;}

/* helpers */
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
.left{float: left;}
.right{float: right;}

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb90{margin-bottom: 90px;}
/* helpers end */

.page-margin{
	margin-right: 7%;
	margin-left: 7%;
}

.page-margin .page-grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(30, 5.35vw);
	grid-gap: 0px;
}

.page-grid .griditem {
	width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-grid .navbarcontainer{
	grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.page-grid .logo{
	grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
}

.page-grid .leftpannel{
	grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
	grid-row-end: 12;

	position: sticky;
	top: 0;
  height: 100vh;
}


/* navbar */

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.navbar *{
	vertical-align: middle;

  font-family: Roboto;
  font-size: 11px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 4.08px;
  color: #000000;
}

/* logo */

.logo{
	width: 100%;
	height: 100%;
	line-height: 100%;
	text-align: center;
	border: #e6e6e6 solid 1px;
  border-radius: 100%;
}

.logo .logo-wrap{
	height: 100%;
	position: relative;
}

.logo .logo-wrap h1{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%); 

  font-family: 'Volkhov';
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 3.58px;
  color: #000000;
}