@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i&display=swap');

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

/* reset defaults */
h1,h2,h3,h4,h5,h6{margin: 0px;}
ul{margin: 0px;}
p{margin: 0px;}
a{text-decoration: none; color: inherit;}

/* helpers */
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
.left{float: left;}
.right{float: right;}

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb90{margin-bottom: 90px;}
/* helpers end */
